<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wc_api.dao.ChatDAO">

    <insert id="createChatRoom" parameterType="wc_api.model.db.chat.ChatRoom">
        INSERT INTO chat_room (room_id, item_id, created_at)
        VALUES (#{roomId}, #{itemId}, CURRENT_TIMESTAMP)
    </insert>

    <select id="findSellerIdByItemId" resultType="int">
        SELECT seller_id FROM item WHERE item_id = #{itemId}
    </select>

    <insert id="createChatRoomUser" parameterType="wc_api.model.db.chat.ChatRoomUser">
        INSERT IGNORE INTO chat_room_user (room_id, user_id, user_type)
        VALUES (#{roomId}, #{userId}, #{userType})
    </insert>

    <select id="findRoomByItemAndUsers" resultType="wc_api.model.db.chat.ChatRoom">
        SELECT cr.* FROM chat_room cr
                             JOIN chat_room_user cru ON cr.room_id = cru.room_id
        WHERE cr.item_id = #{itemId}
          AND cru.user_id = #{userId}
            LIMIT 1
    </select>

    <select id="findUserTypeInRoom" resultType="String">
        SELECT user_type
        FROM chat_room_user
        WHERE room_id = #{roomId}
          AND user_id = #{userId}
            LIMIT 1
    </select>


    <select id="findRoomsByUserId" resultType="wc_api.model.db.chat.ChatRoom">
        SELECT DISTINCT cr.*, i.item_id, i.price, i.description
        FROM chat_room cr
                 JOIN chat_room_user cru ON cr.room_id = cru.room_id
                 JOIN item i ON cr.item_id = i.item_id
        WHERE cru.user_id = #{userId}
        ORDER BY cr.created_at DESC
    </select>

    <select id="findMessagesByRoomId" resultType="wc_api.model.db.chat.ChatMessage">
        SELECT DISTINCT cm.*
        FROM chat_message cm
                 JOIN chat_room_user cru ON cm.message_id = cru.message_id
        WHERE cru.room_id = #{roomId}
        ORDER BY cm.sent_time ASC
    </select>

    <insert id="insertMessage" parameterType="wc_api.model.db.chat.ChatMessage" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO chat_message (content, sent_time, is_read)
        VALUES (
                   #{content, jdbcType=VARCHAR},
                   #{sentTime, jdbcType=TIMESTAMP},
                   false
               )
    </insert>

    <!-- ChatDAO XML 매퍼에 추가 -->
    <select id="countByMessageId" resultType="int">
        SELECT COUNT(*) FROM chat_room_user WHERE message_id = #{messageId}
    </select>

    <select id="findRoomById" resultType="wc_api.model.db.chat.ChatRoom">
        SELECT * FROM chat_room WHERE room_id = #{roomId}
    </select>

    <!-- chat_room_user 테이블에 사용자 정보와 메시지 저장 -->
    <insert id="insertChatRoomUser">
        INSERT INTO chat_room_user (room_id, user_id, user_type, message_id)
        VALUES (#{roomId}, #{userId}, #{userType}, #{messageId})
            ON DUPLICATE KEY UPDATE message_id = #{messageId}
    </insert>

    <update id="updateMessagesReadStatus">
        UPDATE chat_message cm
            JOIN chat_room_user cru ON cm.message_id = cru.message_id
            SET cm.is_read = true
        WHERE cru.room_id = #{roomId}
          AND cm.sender_id != #{userId}
          AND cm.is_read = false
    </update>

</mapper>